* {
    box-sizing: border-box;
    background-color: #222;
}

#app {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background: #222;
}

.header > * {
    color: #ca36e7;
}

.header__turn {
    padding: 12px;
}

.header__status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
}

.header__restart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.board {
    display: grid;
    background: #3a3838;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board__tile {
    background: #535a53;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: cursive;
    color: #020202;
}

.board__tile:hover {
    background: #eeeeee;
}

.board__tile--winner {
    color: rgb(17, 253, 17);
}

.card-img-top {
    width: 50px;
    height: 90px;
    padding-top: 20px;
    padding-left: 170px;
    padding-right: 170px;
    }

.card {
    width: 90%;
    background-color: #e6e6da;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgb(179, 30, 179);
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .card:hover{
    background-color:#65b31c;
    color: rgb(17, 253, 17);
  }
  
  .card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-size: bold;
    line-height: 1.8rem;
    text-align: center;
  }
  
  .card-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
  }
  
  .servicios-title {
    color: #cb4eeb;
    font-size: bold;
    line-height: 1.9rem;
    margin-bottom: 40px;
  }
  
  .row small {

    color: #cb4eeb;
    font-size: bold;
    line-height: 1.9rem;
    font-weight: 500;
  }

.container-color{
   background-color: #65b31c;
}

  .row a:link{
      text-decoration: none;
  }

  .boton button {
    font-family: 'helvetica neue', helvetica, sans-serif;
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    background: linear-gradient(145deg, #905f8a, #ab71a4);
    box-shadow: inset 12px 12px 24px #50354d,
          inset -12px -12px 24px #f09fe6,
          12px 12px 24px #50354d,
          -12px -12px 24px #f09fe6;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }
  
  .boton button:hover{
    background: linear-gradient(145deg, #403b70, #938fb9);
    box-shadow: inset 12px 12px 24px #403b70,
          inset -12px -12px 24px #938fb9,
          12px 12px 24px #403b70,
          -12px -12px 24px #938fb9;
  }

.go-to{
    color: #ffffff;
    font-size: bold;
    line-height: 2.9rem;
}